body{
    background-color: white;
}

.nav-item{
    font-weight: 700;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
nav{
    background-color: #131313;
}

.row img{
    height: 200px;
}

.nav-control{
    position: absolute;
    right: 0%;
    transform: translateX(-50%);
    vertical-align: center;
}

.nav-space{
    margin-left: 20px;
}

.homeimage img {
    width: 100%; 
}

.homeimage h1 {
    position: absolute;
    top: 50%;
    left: 60%;
}
