.nav-item{
    font-weight: 700;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
nav{
    background-color: #131313;
}

.homeimage img {
    width: 100%; 
}

.homeimage h1 {
    position: absolute;
    top: 50%;
    left: 60%;
}

.menu {
    margin-top: 30px;
}

.card{
    opacity: 0.8;
    transition: 0.5s ease-out;
    background-size: cover;
    height: 100%;
    border: none;  
}

.item{
    height: 500px;
    width: 100%;
}

#item1 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/men.jpg");
}

#item2 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/women.jpg");
}

#item3 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/children.jpg");
}

.card:hover {
    transition: 0.5s ease-in;
    opacity: 1;
}

.card h2{
    position: absolute;
    top: 90%;
    left: 10%;
    color: white;
}

